.POPOSSpace {
    width: 100%;
    text-align: center;
}

.POPOSSpace > img {
    width: 100%;
    height: auto;
}

.Time{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
}